* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  
}

body{
  height:130vh;
  width:40vw;
  background:linear-gradient(rgba(140, 140, 192, 0.76),rgba(140, 140, 192,0.76)), url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  overflow:hidden;
  

}

.container{
  width:100vw;
  height:100%;
  margin:0 auto;

}

.navbar{
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    flex: 4;
    position: relative;
    left:50px;
    top:20px;
    color:rgb(228, 186, 18)
}

.list{

  flex: 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position:relative;
  right:50px;
  
}
.list-item{
  
  font-weight: 500;
  font-size: 1.6rem;
  padding: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

}

li{
  list-style-type: none;
}

.button-small{
  position: relative;
  right: 150px;
  background-color: rgba(225, 76, 98, 0.829);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  color:white;
  border:none;
  font-size:15px;
}


.hero{
  position:relative;
  top:100px;
  left:500px;

}

.hero-heading{
  font-family:"Dela Gothic One";
  font-size:50px;
  margin-right:900px;
  color:rgba(252, 217, 15, 0.94);
  text-align: center;

}

.button-large{
  position:absolute;
  left:220px;
  top:250px;
  background-color:rgba(225, 76, 98, 0.829);
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 20px;
  padding-right:20px;
  color:white;
  font-size:15px;
  border:none;
}

.bottom{
  position:absolute;
  top:270px;
  left:750px;
  

}
